.Moyenne {
    background-color: #FF0000;
    fill: #ffffff;
}

.type-stats-moyenne {
    color: #ffffff;
    font-weight: unset;
    opacity: 0.65;
}

.moyenne-courbe > .recharts-wrapper > .recharts-surface {
    height: 250px;
    margin-top: 40px;
}