.Score {
    background-color: #fbfbfb;
}

/* Graphique */ 
.score-graphique {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Score */ 
.pourcentage {
    background-color: #ffffff;
    border-radius: 50%;
    color: #74798C;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 210px;
    justify-content: center;
    position: absolute;    
    text-align: center;
    width: 210px;    
}

.nombre-score {
    color: #000;
    display: block;
    font-size: 24px;
    font-weight: bold;
}
