.tooltip-stats {
    background-color: #E60000!important;
    color: #ffffff;
    font-size: 15px;
}

.Quotidien {
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 5px;
    width: 100%;
}

.type-stats-quotidien {
    margin: 15px 0 10px 30px;
    position: unset;
}

.Quotidien > div > .recharts-wrapper {
    width: 100%!important;
}

.Quotidien > div > .recharts-wrapper > .recharts-surface {
    max-width: 100%;
}

.recharts-legend-item-text {
    color: #74798C!important;
}

text.recharts-text.recharts-cartesian-axis-tick-value > tspan {
    fill: #9B9EAC;
    font-weight: bold;
}