.activite {
    background-color: #ffffff;
    border-radius: 5px;
    height: 64px;
    margin: 10px auto;
    width: 64px;
}
.activite:first-of-type {
    margin-top: 0;
}
.activite:last-of-type {
    margin-bottom: 100px;
}

/* Image */ 
.activite > img {
    display: block;
    height: 64px;
    margin: auto;
    object-fit: scale-down;
    padding: 0 5px;
    width: calc(100% - 10px);
}
.activite > img:hover {
    background-color: #e6000040;
    cursor: pointer;
}