.container {
    left: 115px;
    margin: 65px 105px;
    min-height: calc(100vh - 90px - 130px);
    position: absolute;
    top: 90px;
    width: calc(100% - 115px - 210px);
}

.description {
    font-size: 18px;
    font-weight: 400;
}

/* Liste des stats */
.liste-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 0 25px;
    margin-top: 75px;
    position: absolute;
    width: calc(100% - 280px);
}
  
.liste-stats > div {
    flex-grow: 1;
    height: 250px;
    width: 250px;
}

/* Apports */ 
.liste-apports {
    float: right;
    margin-top: 75px;
}